[Unit]
Description='Patch' /proc/cmdline with an ostree kernel argument.
DefaultDependencies=no
After=systemd-remount-fs.service systemd-tmpfiles-setup.service tmp.mount
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/refkit-ostree patch-proc-cmdline
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
