[Unit]
Description=Poll/fetch available OS updates.

[Service]
Type=simple
StandardInput=null
StandardOutput=journal
StandardError=inherit
RemainAfterExit=no
ExecStart=/usr/bin/refkit-ostree --poll-interval 300 update-daemon

[Install]
WantedBy=multi-user.target
